{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "printWidth": 80,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "plugins": [
                    "prettier-plugin-solidity"
                ],
                "tabWidth": 4
            }
        }
    ]
}